name: Flutter CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3.1.0
        with:
          java-version: '11'
          distribution: 'zulu'
      - uses: subosito/flutter-action@v2.3.0
        with:
          channel: 'beta'
      - run: flutter pub get
      - run: flutter format --set-exit-if-changed .
      - run: flutter analyze .
      - run: flutter build apk
      - uses: actions/upload-artifact@v3.0.0
        with:
          name: release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
